In [1]:
import os
os.chdir('..')
import pandas as pd, numpy as np
from modules.get_data import get_data
from jh_utils.data.pandas.preprocessing import make_dummies

In [2]:
raw = pd.read_csv('asteroides/asteoides.csv')

/tmp/ipykernel_18084/668935226.py:1: DtypeWarning: Columns (3,4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  raw = pd.read_csv('asteroides/asteoides.csv')

In [3]:
raw.columns

Index(['id', 'spkid', 'full_name', 'pdes', 'name', 'prefix', 'neo', 'pha', 'H',
       'diameter', 'albedo', 'diameter_sigma', 'orbit_id', 'epoch',
       'epoch_mjd', 'epoch_cal', 'equinox', 'e', 'a', 'q', 'i', 'om', 'w',
       'ma', 'ad', 'n', 'tp', 'tp_cal', 'per', 'per_y', 'moid', 'moid_ld',
       'sigma_e', 'sigma_a', 'sigma_q', 'sigma_i', 'sigma_om', 'sigma_w',
       'sigma_ma', 'sigma_ad', 'sigma_n', 'sigma_tp', 'sigma_per', 'class',
       'rms'],
      dtype='object')

In [4]:
raw.shape

(958524, 45)

In [13]:
raw[raw.prefix=='A'].head(3)

,id,spkid,full_name,pdes,name,prefix,neo,pha,H,diameter,...,sigma_i,sigma_om,sigma_w,sigma_ma,sigma_ad,sigma_n,sigma_tp,sigma_per,class,rms
929462,bK17U010,3788040,'Oumuamua (A/2017 U1),2017 U1,'Oumuamua,A,NaN,N,22.080,NaN,...,0.000288,0.000254,0.001249,0.006116,NaN,8.108400e-05,0.000264,NaN,HYA,0.43612
941727,bK18V030,3836481,(A/2018 V3),2018 V3,NaN,A,N,N,15.800,NaN,...,0.000005,0.000030,0.000030,0.000006,0.011501,5.253100e-08,0.000021,34.923,TNO,0.27805
946609,bK19G020,3841497,(A/2019 G2),2019 G2,NaN,A,N,N,16.312,NaN,...,0.000018,0.000056,0.000107,0.000012,1.807700,1.086200e-07,0.000189,12991.000,TNO,0.43573

In [14]:
raw.neo.unique()

array(['N', 'Y', nan], dtype=object)

In [15]:
raw.pha.unique()

array(['N', 'Y', nan], dtype=object)

In [16]:
raw.head().transpose()

,0,1,2,3,4
id,a0000001,a0000002,a0000003,a0000004,a0000005
spkid,2000001,2000002,2000003,2000004,2000005
full_name,1 Ceres,2 Pallas,3 Juno,4 Vesta,5 Astraea
pdes,1,2,3,4,5
name,Ceres,Pallas,Juno,Vesta,Astraea
prefix,NaN,NaN,NaN,NaN,NaN
neo,N,N,N,N,N
pha,N,N,N,N,N
H,3.4,4.2,5.33,3.0,6.9
diameter,939.4,545.0,246.596,525.4,106.699
albedo,0.09,0.101,0.214,0.4228,0.274
diameter_sigma,0.2,18.0,10.594,0.2,3.14
orbit_id,JPL 47,JPL 37,JPL 112,JPL 35,JPL 114
epoch,2458600.5,2459000.5,2459000.5,2458600.5,2459000.5
epoch_mjd,58600,59000,59000,58600,59000
epoch_cal,20190427.0,20200531.0,20200531.0,20190427.0,20200531.0
equinox,J2000,J2000,J2000,J2000,J2000
e,0.076009,0.229972,0.256936,0.088721,0.190913
a,2.769165,2.773841,2.668285,2.361418,2.574037
q,2.558684,2.135935,1.982706,2.151909,2.082619
i,10.594067,34.832932,12.991043,7.141771,5.367427
om,80.305531,173.024741,169.851482,103.810804,141.571026
w,73.597695,310.202392,248.066193,150.728541,358.648418
ma,77.372098,144.975675,125.435355,95.861938,17.846343
ad,2.979647,3.411748,3.353865,2.570926,3.065455
n,0.213885,0.213345,0.226129,0.271609,0.238661
tp,2458238.754129,2458320.962366,2458445.79219,2458247.559575,2458925.72311
tp_cal,20180430.254129,20180721.462366,20181123.29219,20180509.059575,20200317.223109
per,1683.145703,1687.410992,1592.013769,1325.432763,1508.414421
per_y,4.608202,4.61988,4.358696,3.628837,4.129814
moid,1.59478,1.23429,1.03429,1.13948,1.09575
moid_ld,620.640533,480.348639,402.514639,443.451432,426.433027
sigma_e,0.0,0.0,0.0,0.0,0.0
sigma_a,0.0,0.0,0.0,0.0,0.0
sigma_q,0.0,0.0,0.0,0.0,0.0
sigma_i,0.0,0.000003,0.000003,0.0,0.000003
sigma_om,0.0,0.000006,0.000017,0.0,0.000029
sigma_w,0.0,0.000009,0.000018,0.0,0.00003
sigma_ma,0.0,0.000009,0.000008,0.000001,0.000008
sigma_ad,0.0,0.0,0.0,0.0,0.0
sigma_n,0.0,0.0,0.0,0.0,0.0
sigma_tp,0.0,0.000041,0.000035,0.000004,0.000035
sigma_per,0.0,0.000004,0.000003,0.000001,0.000003
class,MBA,MBA,MBA,MBA,MBA
rms,0.43301,0.35936,0.33848,0.3998,0.52191

###### fatores
class, equinoxorbit_id, pha, neo

In [17]:
raw['class'].unique()

array(['MBA', 'OMB', 'MCA', 'AMO', 'IMB', 'TJN', 'CEN', 'APO', 'ATE',
       'AST', 'TNO', 'IEO', 'HYA'], dtype=object)

In [18]:
raw['moid'].unique()

array([1.59478  , 1.23429  , 1.03429  , ..., 0.0355888, 0.893896 ,
       0.68022  ])

In [19]:
raw.columns[:6]

Index(['id', 'spkid', 'full_name', 'pdes', 'name', 'prefix'], dtype='object')

In [20]:
raw.head().iloc[:,6:]

,neo,pha,H,diameter,albedo,diameter_sigma,orbit_id,epoch,epoch_mjd,epoch_cal,...,sigma_i,sigma_om,sigma_w,sigma_ma,sigma_ad,sigma_n,sigma_tp,sigma_per,class,rms
0,N,N,3.40,939.400,0.0900,0.200,JPL 47,2458600.5,58600,20190427.0,...,4.608900e-09,6.168800e-08,6.624800e-08,7.820700e-09,1.111300e-11,1.196500e-12,3.782900e-08,9.415900e-09,MBA,0.43301
1,N,N,4.20,545.000,0.1010,18.000,JPL 37,2459000.5,59000,20200531.0,...,3.469400e-06,6.272400e-06,9.128200e-06,8.859100e-06,4.961300e-09,4.653600e-10,4.078700e-05,3.680700e-06,MBA,0.35936
2,N,N,5.33,246.596,0.2140,10.594,JPL 112,2459000.5,59000,20200531.0,...,3.223100e-06,1.664600e-05,1.772100e-05,8.110400e-06,4.363900e-09,4.413400e-10,3.528800e-05,3.107200e-06,MBA,0.33848
3,N,N,3.00,525.400,0.4228,0.200,JPL 35,2458600.5,58600,20190427.0,...,2.170600e-07,3.880800e-07,1.789300e-07,1.206800e-06,1.648600e-09,2.612500e-10,4.103700e-06,1.274900e-06,MBA,0.39980
4,N,N,6.90,106.699,0.2740,3.140,JPL 114,2459000.5,59000,20200531.0,...,2.740800e-06,2.894900e-05,2.984200e-05,8.303800e-06,4.729000e-09,5.522700e-10,3.474300e-05,3.490500e-06,MBA,0.52191

In [21]:
x = raw.nunique()/raw.shape[0]

In [22]:
x.sort_values()

equinox           0.000001
prefix            0.000001
neo               0.000002
pha               0.000002
class             0.000014
albedo            0.001103
diameter_sigma    0.003186
orbit_id          0.004893
epoch_cal         0.005473
epoch_mjd         0.005473
epoch             0.005473
H                 0.009900
diameter          0.017309
name              0.023019
rms               0.067172
sigma_i           0.225076
sigma_om          0.232811
sigma_q           0.258875
sigma_n           0.262643
sigma_e           0.265763
sigma_w           0.274087
sigma_ma          0.278361
sigma_ad          0.280891
sigma_a           0.285123
sigma_per         0.294919
sigma_tp          0.303848
moid              0.327900
moid_ld           0.327901
i                 0.999885
e                 0.999917
tp_cal            0.999974
ad                0.999980
a                 0.999984
q                 0.999984
per               0.999985
per_y             0.999986
n                 0.999990
om                0.999994
w                 0.999995
ma                0.999995
tp                0.999995
pdes              1.000000
full_name         1.000000
spkid             1.000000
id                1.000000
dtype: float64

In [23]:
df = get_data()

/home/joaoholz/Documents/ufes/trabalho_final/modules/get_data.py:4: DtypeWarning: Columns (3,4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv('asteroides/asteoides.csv').iloc[:,first_columns:]

In [24]:
df.head()

,neo,pha,H,diameter,albedo,diameter_sigma,orbit_id,epoch,epoch_mjd,epoch_cal,...,sigma_i,sigma_om,sigma_w,sigma_ma,sigma_ad,sigma_n,sigma_tp,sigma_per,class,rms
0,N,N,3.40,939.400,0.0900,0.200,JPL 47,2458600.5,58600,20190427.0,...,4.608900e-09,6.168800e-08,6.624800e-08,7.820700e-09,1.111300e-11,1.196500e-12,3.782900e-08,9.415900e-09,MBA,0.43301
1,N,N,4.20,545.000,0.1010,18.000,JPL 37,2459000.5,59000,20200531.0,...,3.469400e-06,6.272400e-06,9.128200e-06,8.859100e-06,4.961300e-09,4.653600e-10,4.078700e-05,3.680700e-06,MBA,0.35936
2,N,N,5.33,246.596,0.2140,10.594,JPL 112,2459000.5,59000,20200531.0,...,3.223100e-06,1.664600e-05,1.772100e-05,8.110400e-06,4.363900e-09,4.413400e-10,3.528800e-05,3.107200e-06,MBA,0.33848
3,N,N,3.00,525.400,0.4228,0.200,JPL 35,2458600.5,58600,20190427.0,...,2.170600e-07,3.880800e-07,1.789300e-07,1.206800e-06,1.648600e-09,2.612500e-10,4.103700e-06,1.274900e-06,MBA,0.39980
4,N,N,6.90,106.699,0.2740,3.140,JPL 114,2459000.5,59000,20200531.0,...,2.740800e-06,2.894900e-05,2.984200e-05,8.303800e-06,4.729000e-09,5.522700e-10,3.474300e-05,3.490500e-06,MBA,0.52191